<%- include('./partials/head') %>

<main>
  <h1>Toolboard</h1>
  <% principes.forEach(principe => { %>
  <article class="toolboard">
    <section class="principals">
      <h2><%= principe.titel %></h2>
      <p><%- principe.beschrijving.html %></p>
    </section>
    <section class="guidelines">
      <% principe.richtlijnen.forEach(richtlijn => { %>

      <button class="guidelines__btn" data-id="<%= richtlijn.titel.toLowerCase() %>"><%= richtlijn.titel %></button>

      <% }) %>
      <% principe.richtlijnen.forEach(richtlijn => { %>

      <div class="principleInfo hide" id="<%= richtlijn.titel.toLowerCase() %>"><%- richtlijn.uitleg.html %></div>

      <% }) %>
    </section>
  </article>
  <% }) %>
</main>
<script src="./scripts/script.js"></script>
<%- include('./partials/foot') %>